 @import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
body{
    background-color: #3584A7;
    margin: 0;
    font-family: "Rajdhani";
}

.esquerda{
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.esquerda > div > a > img{
    width: 350px;
    height: 350px;
   
    
    mix-blend-mode: normal;
    box-shadow: 7px 7px 250px rgba(0, 0, 0, 0.9);

    
}

.direita{
    background-color: white;
    padding: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh ;
}



.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 200px;
    position: relative;
    width: 200px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .episodios{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
  }

  .direita > p{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    text-align: center;
    margin: 0;
    color: #6FB8D9;
    margin-top: 35px
    
  }

  a{
      text-decoration: none;
  }
  .instagram{
    color: white;
    font-size: 20pt;
    margin-bottom: 10px;
  }